In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('NCAA_MM_Results.xlsx')

In [3]:
df.head()

,DATE,TEAM,CONF.,OPP.,RESULT,SCORE,YEAR
0,2016-03-15,Vanderbilt,SEC,Wichita St.,L,70-50,2016
1,2016-03-15,Fairleigh Dickinson,NEC,Florida Gulf Coast,L,96-65,2016
2,2016-03-16,Southern,SWAC,Holy Cross,L,59-55,2016
3,2016-03-16,Tulsa,Amer,Michigan,L,67-62,2016
4,2016-03-17,Austin Peay,OVC,Kansas,L,105-79,2016

In [4]:
len(df)

467

In [5]:
df.columns

Index(['DATE', 'TEAM', 'CONF.', 'OPP.', 'RESULT', 'SCORE', 'YEAR'], dtype='object')

In [6]:
df.to_csv('NCAA_MM_Results.csv')